.container {
  max-width: 768px;
  margin: auto;
}

.header {
  display: flex;
  align-items: baseline;
}

.header__button {
  background-color: unset;
  border: unset;
  cursor: pointer;
  padding-left: 0;
}

.header__title {
  text-transform: capitalize;
}

.body {
  padding: 0 16px;
}

.image {
  border-radius: 50%;
  background-color: lightgray;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.chip__container {
  display: flex;
  margin-top: 16px;
}

.chip {
  background-color: #30a7d7;
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  margin-right: 8px;
}