.title {
  display: flex;
  justify-content: space-between;
}

.name {
  text-transform: capitalize;
}

.progress {
  background-color: #cbd5e0;
  height: 10px;
  width: 100%;
  border-radius: 8px;
}

.progress__bar {
  background-color: #3182ce;
  height: 10px;
  border-radius: 8px;
}